apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    helm.sh/chart: {{ template "kubernetes-service-netbox-syncer.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  name: {{ .Release.Name }}
spec:
  concurrencyPolicy: Forbid
  schedule: {{ .Values.cronjob.schedule }}
  timeZone: {{ .Values.cronjob.timeZone }}
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: {{ .Values.configuration.maximumIteration }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/instance: {{ .Release.Name }}
            {{- include "kubernetes-service-netbox-syncer.podlabels" . | nindent 12 }}
        spec: 
          serviceAccount: {{ .Release.Name }}
          containers:
          - name: kubernetes-service-netbox-syncer
            image: "{{ .Values.cronjob.image }}:{{ .Values.cronjob.tag }}"
            imagePullPolicy: Always
            envFrom:
              - configMapRef:
                  name: {{ .Release.Name }}
            env:
              - name: NETBOX_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.configuration.netbox.token.secretName }}
                    key: {{ .Values.configuration.netbox.token.secretKey }}
            resources: {{ .Values.resources | toYaml  | nindent 14 }}
          restartPolicy: OnFailure